@CHARSET "ISO-8859-1";

body {
	font-family:helvetica,tahoma,verdana,sans-serif;
	padding:20px;
    padding-top:32px;
    font-size:13px;
	background-color:#fff !important;
}

img.mainPegasoLogo {
	position: relative;
	left: 5px;
	top: 10px
}

div.mainPegasoLogo {
	position: absolute;
	left: 0px;
	top: 0 px;
	width: 100%;
	height: 70px;
	border-bottom: #000080 dashed 1px; 
}

#pegasoBanner {
	margin-left: 220px
}
.icono3{
  background-image:url(../img/folder.png) !important; 
  height:10 px ;
  width: 10 px 	;
} 
.icono5{
  background-image:url(../img/map-icon.png) !important; 
  height:10 px ;
  width: 10 px 	;
} 
.p-close-btn{
  background-image: url(../externals/ext-3.4.0/resources/images/pegaso/layout/tab-close-on.gif) !important;
} 

.gx-tree-layer-actions {
    float: right;
}

.gx-tree-layer-action {
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    height: 18px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 18px;
}

.gx-tree-layer-actions .delete {
  background-image: url(../externals/ext-3.4.0/resources/images/pegaso/layout/tab-close-on.gif) !important;
  height: 18px; 
}

