@CHARSET "ISO-8859-1";

img.mainPegasoLogo {
	position: relative;
	left: 5px;
	top: 10px
}

div.mainPegasoLogo {
	position: absolute;
	left: 0px;
	top: 0 px;
	width: 100%;
	height: 70px;
	border-bottom: #000080 dashed 1px; 
}

#pegasoBanner {
	margin-left: 220px
}
